.GameInput-container {
  grid-area: main;
  background-color: var(--darkgrey);
  padding: 24px;
  text-align: center;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.GameInput-heading {
  margin: 0 auto;
  color: var(--softwhite);
  overflow-wrap: break-word;

  flex-basis: 0%;
  display: flex;
  align-items: end;
}

.GameInput-input {
  background-color: var(--darkgrey);
  border: none;
  color: var(--softwhite);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  font-style: normal;
  margin-top: 4vh;
  width: 100%;

  resize: none;
  outline: none;
  border: none;
  font-family: inherit;
  margin: 0 auto;
  margin-bottom: 1vh;

  flex-basis: 60%;
  display: flex;
  align-items: start;
}

.GameInput-input[value=""] {
  font-style: italic;
}
