.Header-header {
  text-align: center;
  color: var(--lightgrey);
  font-size: 9vh;
  white-space: nowrap;
  width: 90vw;
  margin: 0;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.left {
  text-align: left;
  margin-left: 3vw;
}

.noleft {
  margin: 0 auto;
}

.invisible {
  visibility: hidden;
}
