.NoticeBox-container {
  border: none;
  padding: 16px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.5vh;
  --animate-delay: 2s;
}

.NoticeBox-header {
  font-size: 2vh;
  margin-bottom: 6px;
  font-weight: bold;
}

.NoticeBox-message {
  font-size: 2vh;
}

.red {
  background-color: var(--themedarkred);
  color: var(--themered);
}

.blue {
  background-color: var(--themedarkblue);
  color: var(--themeblue);
}

.yellow {
  background-color: var(--themedarkyellow);
  color: var(--themeyellow);
}
