.SetupMenu-container {
  text-align: left;
  padding: 24px;
  background-color: #333333;
  color: var(--lightgrey);
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 2vh;
}

.SetupMenu-entry > * {
  display: inline-block;
}

.SetupMenu-entry > input {
  margin: 12px 0;
}

.noslider {
  margin: 0;
  visibility: hidden;
  height: 0;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

  margin-top: -12px;
  margin-left: -8px;
}

form > * {
  margin-left: 8px;
  margin-top: 12px;
}

form > *:first-child {
    margin-left: 8px;
}

form > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.SetupMenu-create-button {
  background-color: var(--themeblue);
  border: none;
  color: var(--darkgrey);
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;

  border-radius: 4px;
}

.SetupMenu-gamelink {
  background-color: var(--themeblue);
  border: none;
  color: var(--darkgrey);
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.SetupMenu-gamelink-caption {
  font-size: 12px;
  margin-top: 8px;
  font-style: italic;
}

.SetupMenu-submit-button {
  background-color: var(--themegreen);
  border: none;
  color: var(--darkgrey);
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;

  margin-top: 5vh;
  border-radius: 4px;
}

.notready {
  opacity: 0.2;
}

#SetupMenu-reveal {
  margin: 0 auto;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.info {
  font-family: sans-serif;
}
